.card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  min-height: 400px;
  border: 2px solid blueviolet;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  box-shadow: 4px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

.bold-text {
  text-transform: uppercase;
  color: blueviolet;
  font-weight: bold;
  padding-left: 1rem;
}

.bold-text span {
  text-transform: none;
  color: black;
  font-weight: normal;
}

.country-link {
  text-decoration: none;
  color: blueviolet;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
